img {
  width: 100%;
  height: auto;
}
.imagen {
  text-align: center;

}

.body-juego {
  position: relative;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
