.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
}

.body-instrucciones {
  width: 100%;
  height: 90vh;
  background-color: #FFFFFF;
  overflow-y: scroll!important;
  padding-top: 15px;
  border-top: 1px solid #7A7A7A1F!important;
  border-bottom: 1px solid #7A7A7A1F!important;
}

.titulo {
  align-items: center;
  width: 100%;
  padding-top: 18px;
  padding-left: 10px;
  margin-top: 5px;

}
.titulo span {
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  font-size: 20px;
  font-family: Avenir-Bold;
  text-transform: uppercase;
  color: #000000;
}

.objetivo {
  margin-top: 40px;
  margin-left: 10px;
  font-size: 16px;
  font-family: Avenir-Bold;
  padding: 5px;
}

.texto{
  font-family: Avenir;
  font-size: 16px;
  padding: 5px;
  margin-left: 10px;
}

.puntuacion {
  margin-top: 40px;
  margin-left: 10px;
  font-size: 16px;
  font-family: Avenir-Bold;
  padding: 5px;
  margin-top: 20px;
  padding-top: 5px;
}

.tabla {
  padding: 12px;
  font-family: Avenir;
}
.tabla th {
  text-transform: uppercase;
  font-size: 15px;
}
.tabla td {
  font-size: 14px;
  font-family: Avenir;
  padding-top: 20px;
  padding-bottom: 20px;
}

.informacion {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 16px;
  font-family: Avenir-Bold;
  padding: 5px;
  margin-bottom: 10px;
}

.texto-1 {
  font-size: 16px;
  font-family: Avenir;
  padding: 10px;
  margin-left: 4px;
}
.texto-2 {
  font-size: 16px;
  font-family: Avenir;
  padding: 10px;
  margin-left: 4px;
}
.texto-3 {
  font-size: 16px;
  font-family: Avenir;
  padding: 10px;
  margin-left: 4px;
}
.texto-4 {
  font-size: 16px;
  font-family: Avenir;
  padding: 10px;
  margin-left: 4px;
}

.btn-login {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 188px;
  height: 40px;
  border-radius: 0;

}
.text-btn {
  font-family: Avenir;
  font-size: 16px;
}
