.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
}

.body-perfil {
  width: 100%;
  height: 90vh;
  background-color: #FFFFFF;
  overflow-y: scroll!important;
  padding-top: 10px;
  border-top: 1px solid #7A7A7A1F!important;
  border-bottom: 1px solid #7A7A7A1F!important;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 18px;
  padding-left: 10px;

}
.titulo span {
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  font-size: 20px;
  font-family: Avenir-Bold;
  text-transform: uppercase;
  color: #000000;
}
.contenido {
  padding: 10px;
  padding-top: 25px;
  line-height: 2;
}

.foto {
  display: flex;
  align-items: center;
  justify-content: center;

}
.foto img {
  width: 125px;
  border-radius: 10px;
}
.nombre {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nombre .tiago {
  font-size: 18px;
  font-family: Avenir-Normal;
}
.table {
  width: 60%;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 80px;
}

.table td {
  text-align: center;
}
