<section class="nuevo-look">
  <div class="wrapper">
    <mat-drawer-container>
      <mat-drawer #drawer mode='over' position="start">
        <app-left-sidebar (cerrar)="drawer.toggle()"></app-left-sidebar>
      </mat-drawer>
      <app-header-app (drawer)="drawer.toggle()"></app-header-app>

      <div class="body-nuevo-look">
        <div class="titulo">
          <img src="/assets/images/titulo-shape.png" alt="">
          <span class="titulo-terminos">Nuevo Look</span>
        </div>

        <div class="contenido">
          <div class="div-texto">
            <p>¿Quieres tener una idea de cómo verías si usarás unos increíbles Carrera Ducati?</p>
          </div>
          <div class="imagenes">
            <div class="img-1">
              <img src="/assets/images/lentes-ducati-1.png" alt="">
              <span>CARDUC 001/S</span>
            </div>
            <div class="img-2">
              <img src="/assets/images/lentes-ducati-2.png" alt="">
              <span>CARDUC 001/S</span>
            </div>
            <div class="img-3">
              <img src="/assets/images/lentes-ducati-3.png" alt="">
              <span>CARDUC 001/S</span>
            </div>
          </div>

          <div class="d-flex flex-direction-row justify-content-center w-100 mt-3 mb-3">
            <button mat-flat-button color="" class="btn-login">
                <span class="text-btn">OMITIR</span>
            </button>
            <button mat-flat-button color="warn" class="btn-login">
                <span class="text-btn">USAR LENTES</span>
            </button>
          </div>
        </div>

        <div class="linea">
          <span>Ducati Motor Holding S.p.A Official Licensed Product</span>
        </div>
        <!--FOOTER-->
        <div class="footer">
         <app-footer-app></app-footer-app>
       </div>
      </div>

    </mat-drawer-container>
  </div>
</section>
