.wrapper{
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
}

.body-terminos {
  width: 100%;
  height: 90vh;
  background-color: #FFFFFF;
  overflow-y: scroll!important;
  padding-top: 15px;
  border-top: 1px solid #7A7A7A1F!important;
  border-bottom: 1px solid #7A7A7A1F!important;
}

.titulo {
    align-items: center;
    width: 100%;
    padding-top: 18px;
    padding-left: 10px;

}
.titulo span {
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  font-size: 20px;
  font-family: Avenir-Bold;
  text-transform: uppercase;
  color: #000000;

}
.texto {
  padding: 10px;
  padding-top: 25px;
  line-height: 2;
}
.texto span {
  font-size: 14px;
  font-size: Avenir Next LT Pro, Regular;

}
